<html lang="en">
    <head>
        <title>Slurm Weboverview</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
        <h1 class="jumbotron">Slurm Weboverview</h1>
        <table class="table">
            <thead>
                <th scope="col">#</th>
                <th scope="col">JOBNAME</th>
                <th scope="col">USER</th>
                <th scope="col">NODE</th>
                <th scope="col">CPUS</th>
                <th scope="col">STATE</th>
                <th scope="col">REASON</th>
                </thead>
                <tbody ng-app="slrm" ng-controller="slrmctrl">
                    <tr ng-repeat="x in data">
                        <td>{{ x.JOBID }}</td>
                        <td>{{ x.NAME }}</td>
                        <td>{{ x.USER }}</td>
                        <td>{{ x.NODELIST }}</td>
                        <td>{{ x.CPUS }}</td>
                        <td>{{ x.STATE }}</td>
                        <td>{{ x.REASON }}</td>
                    </tr>
                </tbody>
        </table>
        <script type="text/javascript" src="/scripts/angular.js"></script>
        <script type="text/javascript" src="js/controller.js" charset="utf-8"></script>
    </div>
    <div class="container">
        <p>
            This page is automatically refreshing every 15 minutes!
        </p>
    </div>
    </body>
</html>
